@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mission 03 Assignment";
}

//This file contains the html for the index page

<!--Body provides information about Spencer Walker (me)-->

<h1>Preferred name: Spencer</h1>

<label>I enjoy going cool places with my wife: </label>
<br />
<img style="width:350px;height:500px" id="picArches" src="img/HaleySpencerArches.jpg" />
<p>
    I hope to gain skills from this class that will allow me
    to function as and with developers in the workforce.  I also
    hope to gain skills that will allow me to create my own projects
    in the future.  I also hope to gain practice with problem-solving situations
    related to business programming.
</p>
<p>Top Three Jobs I Will Pursue:</p>
<ul>
    <li>1: Data Science--Natural Language Processing</li>
    <li>2: Application Developer (Web or Mobile)</li>
    <li>3: Project Management</li>
</ul>

